*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:Poopins,sans-serifl;
    background:#f6f8fa;
}
.header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:20px;
    background:#0078;
    color:white;
}
.nav a{
    color:white;
    margin:0 10px;
    text-decoration: none;
}

.hero{
    text-align: center;
    padding:80px 20px;
    background:white;
}

.hero button{
    margin-top:20px;
    padding:12px 25px;
    background: #0078;
    border: none;
    border-radius:8px;
    color: white;
    cursor: pointer;
}
.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    padding:40px;
}

.card{
    background:white;
    padding:30px;
    border-radius:12px;
    text-align:center;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.footer{
    text-align: center;
    padding:20px;
    margin-top:100%;
    background:#0078;
    color:white;
    
}

@media(max-width:768px){
    .header{
        flex-direction:column;
        text-align: center;
    }
    .nav a{
        display:inline-block;
        margin:10px;
    }
}