body{
    font-family: 'Poppins',sans-serif;
    margin:0;
    background:linear-gradient(180deg,#ffffff, #e0e07b);
    color:#333;
}
header{
     background-color:#007;
     color:white;
     padding:1rem;
     text-align: center;
}

nav a{
    color:white;
    margin:0 10px;
    text-decoration:none;
}

nav a:hover{
    text-decoration:red underline;
}

section{
    margin:40px;
    padding:20px;
    background-color:#fff;
    border-radius:10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}
form{
    display:flex;
    flex-direction: column;
}
input,textarea{
    margin-bottom:10px;
    padding:8px;
    border:1px solid #ddd;
    border-radius:5px;
}
footer{
    text-align: center;
}