body {
  font-family: Arial;
  transition: background 0.3s, color 0.3s;
}

.dark {
  background: #111;
  color: white;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav li {
  cursor: pointer;
}

nav li.active {
  color: blue;
  font-weight: bold;
}
